/* Base font size */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/* Focus styles for form elements */
.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/* Ensure body occupies full height */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px; /* Space for footer */
}

/* Scrolling text animation */
.scrolling-text {
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    animation: scroll 15s linear infinite;
    color: #fff;
    font-weight: bold;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* Custom styles for footer links */
footer a {
    color: #fff;
}

    footer a:hover {
        color: #f0f0f0;
    }

/* Form control styling */
.form-control {
    border: 1px solid #fff;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.7);
}

/* Button styling */
.btn-outline-light {
    border-color: #fff;
    color: #fff;
}

    .btn-outline-light:hover {
        background-color: #fff;
        color: #007bff;
    }
